In [6]:
import pandas as pd

df = pd.read_csv("../DATA/user_problem.csv", index_col=0)
df

,36,37,38,39,40,41,42,43,44,45,...,5218,5219,5220,5221,5222,5223,5224,5225,5226,5227
0,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,5,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,15,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,-2,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71967,6,3,2,-7,-2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71968,17,4,20,6,9,22,8,4,10,2,...,0,0,0,0,0,0,0,0,0,0
71969,4,0,0,5,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
71970,-3,0,1,0,0,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
bin_edges = [-float('inf'), 1, 3, 6, 9, 12, float('inf')]
bin_labels = [0, 5, 4, 3, 2, 1]

for col in df.columns:
    df[col] = pd.cut(df[col], bins=bin_edges, labels=bin_labels, right=False, include_lowest=True)
df

,36,37,38,39,40,41,42,43,44,45,...,5218,5219,5220,5221,5222,5223,5224,5225,5226,5227
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,4,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71967,3,4,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71968,1,4,1,3,2,1,3,4,2,5,...,0,0,0,0,0,0,0,0,0,0
71969,4,0,0,4,0,0,0,0,5,5,...,0,0,0,0,0,0,0,0,0,0
71970,0,0,5,0,0,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.to_csv("../DATA/user_problem_rating.csv")